.MuiPaper-elevation4 {
     box-shadow: none !important;
}

.drawer{
     &__content{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     &__heading {
          padding: 1rem 0;
          font-size: 1.7rem;
     }
     &__button{
          padding: 2rem 0;
     }
}