@import '../../Sass/mixin';
.header {
	display: flex;
	height: var(--header-height);
	&__logo {
		padding: 0 1rem;
		background: rgb(214, 213, 213);
		@include centerItem;
		a {
			text-decoration: none;
			font-size: 2rem;
			text-transform: uppercase;
			color: var(--logo);
		}
	}
}
