@mixin responsive($type) {
    $mobile: 576px;
    $minTab: 700px;
    $tab: 900px;
    $laptop: 1600px;
    @if $type == sm {
        @media screen and (max-width: $mobile) {
            @content;
        }
    }
    @if $type == md {
        @media screen and (max-width: $minTab) {
            @content;
        }
    }
    @if $type == lgSmall {
        @media screen and (max-width: $tab) {
            @content;
        }
    }
    @if $type == lg {
        @media (max-width: $laptop) {
            @content;
        }
    } @else if $type == xl {
        @media (min-width: $laptop + 1px) {
            @content;
        }
    }
}
