@import '../../Sass/mediaQuery';
.create-palette__haeding {
    display: block;
    @include responsive(sm) {
        display: none;
    }
}
.CreactpaletteNavBar-appBar-8 {
    //     padding-right: 0.5rem !important;
    // @include responsive (md) {padding-right: 1rem !important;}
}
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        font-size: 1rem;
    }
    button:not(:last-child) {
        margin-right: 0.5rem;
    }
}
