@import '../../Sass/mixin';

.main-color-section {
	height: var(--colors-pal-heigth);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-auto-rows: 1fr;
	& .go-back {
		@include centerItem;
		background: #000;
		color: #fff;
		font-size: 2rem;
		text-transform: uppercase;
		button {
			padding: .7rem 2rem;
			display: inline-block;
			outline: none;
			border: none;
			font-size: 1.5rem;
			line-height: 1.5;
			font-family: inherit;
			cursor: pointer;
			background: rgba(#fff,.5);
			text-transform: uppercase;
		}
	}
}
