.rc-slider-rail {
	height: .8rem;
}
.rc-slider-track {
	height: .8rem;
}
.rc-slider-handle {
	margin-left: -.7rem;
	margin-top: -0.75rem;
	width: 2rem;
	height: 2rem;
	border: none;
	background-color: #314d69;
}
