@import '../../Sass/mixin';
@import '../../Sass/mediaQuery';
.color-slider {
	@include centerItem;
	&__lavel-text {
		font-size: 1.6rem;
		margin: 0 1rem;
	}
	&__container {
		@include centerItem;
		width: 18rem;
		padding:1.5rem 1rem;
		@include responsive (md) {
			width: 25rem;
			padding: 0 1rem;
		}
	}
}

.rc-slider-rail {
	height: .6rem;
}
.rc-slider-track {
	height: .6rem;
}
.rc-slider-handle {
	margin-left: -.7rem;
	margin-top: -0.6rem;
	width: 1.7rem;
	height: 1.7rem;
	border: none;
	background-color: #314d69;
}
