.colorbox-list {
     display: grid;
     width: 100%;
     height: 100%;
     grid-template-columns: repeat(5,1fr);
     grid-auto-rows: 25%;
     // overflow: hidden;
}
.drag-enter {
     opacity: 0;
}
.drag-enter-active {
     opacity: 1;
     transition: all .3s;
}
.drag-exit {
     opacity: 1;
}
.drag-exit-active {
     opacity: 0;
     transition: all .3s;
}